In [ ]:
from datascience import *
import numpy as np
import matplotlib
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 12: Decisions

## Reviewing Brittany Wenger's Experiment

In [27]:
patients = Table.read_table('breast-cancer.csv').drop('ID')
patients.show(5)

### Distance ###

In [43]:
def distance(pt1, pt2):
    """Return the distance between two points, represented as arrays"""
    # (1, 2, 3)<-> (1, 4, 8)
    return np.sum((pt1-pt2)**2) ** 0.5

def row_distance(row1, row2):
    """Return the distance between two numerical rows of a table"""
    return distance(np.array(row1),np.array(row2))

In [44]:
attributes = patients.drop('Class')
attributes.show(3)

### Classification Procedure ###

In [48]:
def distances(training, example):
    """Compute distance between example and every row in training.
    Return training table augmented with Distance column"""
    dists = make_array()
    for row in training.rows:
        dists = np.append(dists, row_distance(row, example))
    return training.with_column('Distance', dists)

In [52]:
distances(attributes, example).sort('Distance')

Clump Thickness | Uniformity of Cell Size | Uniformity of Cell Shape | Marginal Adhesion | Single Epithelial Cell Size | Bare Nuclei | Bland Chromatin | Normal Nucleoli | Mitoses | Distance
7               | 4                       | 6                        | 4                 | 6                           | 1           | 4               | 3               | 1       | 0
8               | 4                       | 6                        | 3                 | 3                           | 1           | 4               | 3               | 1       | 3.31662
5               | 3                       | 4                        | 1                 | 4                           | 1           | 3               | 1               | 1       | 5.19615
5               | 4                       | 5                        | 1                 | 8                           | 1           | 3               | 6               | 1       | 5.2915
8               | 2                       | 4                        | 1                 | 5                           | 1           | 5               | 4               | 4       | 5.47723
9               | 5                       | 5                        | 4                 | 4                           | 5           | 4               | 3               | 3       | 5.47723
6               | 3                       | 3                        | 3                 | 3                           | 2           | 6               | 1               | 1       | 5.47723
9               | 5                       | 5                        | 2                 | 2                           | 2           | 5               | 1               | 1       | 5.65685
3               | 4                       | 5                        | 3                 | 7                           | 3           | 4               | 6               | 1       | 5.65685
5               | 3                       | 3                        | 2                 | 3                           | 1           | 3               | 1               | 1       | 5.65685
... (673 rows omitted)

In [ ]:
def closest(training, example, k):
    """Return a table of the k closest neighbors to example"""
    # TODO: complete function
    return None

In [ ]:
def majority_class(topk):
    """Return the class with the highest count"""
    # TODO: complete function
    return None

def classify(training, example, k):
    "Return the majority class among the k nearest neighbors of example"
    # TODO: complete function
    return None

In [ ]:
classify(patients.exclude(15), example, 5)

### Evaluation ###

In [ ]:
patients.num_rows

In [ ]:
shuffled = patients.sample(with_replacement=False) # Randomly permute the rows
training_set = shuffled.take(np.arange(342))
test_set  = shuffled.take(np.arange(342, 683))

In [ ]:
def evaluate_accuracy(training, test, k):
    """Return the proportion of correctly classified examples 
    in the test set"""
    # TODO: complete function
    return None

In [ ]:
evaluate_accuracy(training_set, test_set, 5)

# Making Decisions

In [ ]:
# np.array(list) converts list to an array
# provided all the elements of list are of the same type
# ['a'] * k = ['a', 'a',  repeated k times]
n = 100
second = round(n * 0.6)
third = round(n * 0.4)

year = np.array(['Second'] * second + ['Third'] * third)
major = np.array(['Declared'] * (round(second * 0.5)) + ['Undeclared'] * (round(second * 0.5)) + \
                 ['Declared'] * (round(third * 0.8))  + ['Undeclared'] * (round(third * 0.2)))

year, major

In [ ]:
# Create a table with year and major

In [ ]:
# Chance of junior, given that they have declared
# P(junior | declared)

In [ ]:
# P(sophomore | declared)

In [ ]:
# Compute P(sophomore | declared) using Bayes rule

In [ ]:
# Bayes rule: P(has disease | positive test result)

In [ ]:
n = 10000
disease = round(n * 0.001)
no_disease = round(n * 0.999)

status = np.array(['Disease'] * disease + ['No disease'] * no_disease)
result = np.array(['Test +'] * (disease) + ['Test +'] * (round(no_disease * 0.05))  + \
                 ['Test -'] * (round(no_disease * 0.95)))
                 
persons = Table().with_columns(
    'Status', status,
    'Test Result', result
)
persons.show(3)

In [ ]:
persons.pivot('Test Result', 'Status')