In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## 1. Multiple Choice
1.1 A & D

1.2 B

## 2. Expressions

In [28]:
# 2.1
a = np.arange(4)                                                                                                                          
b = make_array(2, 2, 2, 2)                                                                                                                
c = make_array('a','b','c','d')                                                                                                           
t = Table().with_columns(                                                                                                                 
  "First", a,                                                                                                                             
  "Second", a**b,                                                                                                                         
  "Third", a == b,                                                                                                                        
) 
t

First | Second | Third
0     | 0      | False
1     | 1      | False
2     | 4      | True
3     | 9      | False

In [6]:
# 2.2

x = 5                                                                                                                                     
y = 3                                                                                                                                     
z = 2                                                                                                                                     
a = 6                                                                                                                                     
b = 4                                                                                                                                     
c = 1                                                                                                                                     

y = y - z   # alpha                                                                                                                     
y = y * a   # gamma                                                                                                                     
b = b / c   # delta                                                                                                                     
x = x + y   # beta                                                                                                                     
a = x + b   # epsilon                                                                                                                     

a

15.0

In [9]:
# 2.3
a1 = make_array(5, 15, 25, 35, 45)                                                                                                        
a2 = make_array(10, 20, 30, 40, 50)                                                                                                       
                                                                                                                                          
i = len(a1) - 1                                                                                                                           
                                                                                                                                          
a2[4] = a1[0]                                                                                                                             
a1[i] = a1[3]                                                                                                                             
a1[0] = a1[2] -5                                                                                                                          
a1[i-2] = a1[i-1]                                                                                                                         
a1[3] = a1[i] / a2[4]                                                                                                                     
a2[1] = a1[1]                                                                                                                             
a2[0] = a1[3] + 5                                                                                                                         

a1, a2

(array([20, 15, 35,  7, 35]), array([12, 15, 30, 40,  5]))

3.

3.1 What is the probability that your enrollment date is before the last day?                                                   

$1-1/4 = 3/4$
                                                                                                                                          
3.2 What is the probability that you can enroll in all your classes on the second day?                                          \

$1/4 \times (4/5 \times 4/5 \times 4/5) = 16/125 = .128$

3.3 Let's say that you can only enroll in one class a day from your window day forwards. On your window day, you can attempt to enroll in CompSci 116, CompSci 101 the next day, and Stat 199 the day after. If your window opens on the 2nd day, what is the probability that you will get into all your classes on your first try?         

$0.8 \times 0.6 \times 0.4  = 0.192$

3.4 On the other hand, given that you got into all your classes, what is the probability that your registration windown was on the 1st day?

$\frac{\frac{1 \times 0.8 \times 0.6}{4}}{\frac{(1 \times 0.8 \times 0.6) + (0.8 \times 0.6 \times 0.4) + (0.6 \times 0.4 \times 0.4) + (0.4 \times 0.4 \times 0.4)}{4}} =  0.576923076923077$

In [12]:
(1.0 * 0.8 * 0.6)/((1 * 0.8 * 0.6) + (0.8 * 0.6 * 0.4) + (0.6 * 0.4 * 0.4) + (0.4 * 0.4 * 0.4))

0.576923076923077

In [22]:
# 4. Tables
exercise = Table.read_table('exercise.csv')
calories = Table.read_table('calories_per_minute.csv')

In [34]:
# 4.1
exercise.sort('yoga',descending=True).column('Day').item(0)

# 4.2
high_intensity = sum(exercise.column('basketball')+exercise.column('sprinting')) > \
sum(exercise.column('yoga')+exercise.column('walking'))

# 4.3
def compute_calories(y,w,s,b):
    minutes = make_array(y,w,s,b)
    return sum(calories.column(1)*minutes)

def compute_calories_r(row):
    # compute by row
    return compute_calories(row[1], row[2], row[3], row[4])
# 4.4 
exercise_totals = exercise.with_column("Total Calories", exercise.apply(compute_calories, make_array(1, 2, 3, 4))) 
# by row
#exercise_totals = exercise.with_column("Total Calories", exercise.apply(compute_calories_r)) 

# 4.5
calories_burned = sum(exercise_totals.where("Day", are.between_or_equal_to(15, 21)).column("Total Calories"))

/home/jforbes/.local/lib/python3.6/site-packages/datascience/tables.py:361: FutureWarning: column lists are deprecated; pass each as an argument
  "column lists are deprecated; pass each as an argument", FutureWarning)

In [27]:
#exercise.with_column("Total Calories", exercise.apply(compute_calories_r)) 
exercise.group(['basketball','sprinting'],np.sum)

basketball | sprinting | Day sum | yoga sum | walking sum
0          | 0         | 376     | 345      | 500
0          | 20        | 13      | 0        | 0
45         | 0         | 14      | 0        | 90
65         | 0         | 2       | 0        | 65
70         | 30        | 26      | 0        | 0
75         | 0         | 33      | 0        | 0
80         | 35        | 11      | 0        | 0
95         | 35        | 21      | 0        | 0

In [6]:
# 5 Project 1 Review
child_mortality = Table.read_table('child_mortality.csv').relabeled(2, 'child_mortality_under_5_per_1000_born')
fertility = Table.read_table('fertility.csv')

In [ ]:

# 5.1
# mean is larger. The distribution goes out farther on the positive end

# 5.2 
#100 - amount six or greater
# 100 - 0.5*(4+5+4+3) = 92%
ans = 100 - 0.5*(4+5+4+3)
#5.3 
y = 2000
fert_y = fertility.where('time', y)
sub_replace = 100*fert_y.where(2, are.below(2)).num_rows/fert_y.num_rows

# 5.4
child_mortality.where('time', 2000).join('geo',fertility.where('time', 2000), 'geo').scatter(2,4)

# 5.5 Incrased fertility rate is generally associated with a higher rate of child mortality