# Lab 3: Tables & Graphs

Welcome to Lab 3!  This week, you will do some problems involving visualizations.   Visualizations are introduced in [Chapter 7](https://dukecs.github.io/textbook/chapters/07/Visualization). Functions are introduced in [Chapter 8](https://dukecs.github.io/textbook/chapters/08/Functions_and_Tables). 

First, set up the tests and imports by running the cell below.

In [2]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# These lines load the tests.

from client.api.notebook import Notebook
ok = Notebook('lab03.ok')
_ = ok.auth(inline=True)

## Table Reference

For your reference, here's a table of some of the functions and methods that we are using to work with tables.

|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|

Note that you can always review the [datascience library documentation](http://data8.org/datascience/) to see what the options are for using the methods described here and in the book.

## 1. Graphing Census Data

In [ ]:
# Read Census data
full = Table.read_table('nc-est2015-agesex-res.csv')
# Select a table with just 2010 & 2015 population data
t = full.select('SEX', "AGE", 'CENSUS2010POP', 'POPESTIMATE2015')
t = t.relabeled('POPESTIMATE2015', '2015')
t = t.relabeled('CENSUS2010POP', '2010')
t.set_format([2,3], NumberFormatter)

### 1. Plotting population over time
**Question 1** Create a line graph of the population by age in 2010 and 2015 as in the figure below. 

![age to pop line graph](age_graph.png)

**Question 2** We'd like to plot the *annual* growth rate of the population between 2010 and 2015
Add a column titled growth rate to the table and then plot the growth rate vs. age.

**Question 3** Now create a *bar chart* to show the growth rate with the age with the highest growth rate at the top
and the age with the lowest growth rate (i.e., highest shrink rate) at the bottom.

## 2. Graphing Car Data
In this problem, you need to choose the appropriate visualization for data on the city-cycle fuel consuption in miles per gallon for selected cars from 1970-1982.

In [ ]:
# Read vehicle data
mpg = Table.read_table('mpg.csv')

**Question 1** Create a visualization of the relationship between a car's weight and its acceleration.

**Question 2** Create a visualization of all of the car models (i.e, `name`) and their horsepower.

**Question 3** Create a visualization of all of the releationship of `displacement` and `cylinders` with horsepower.

**Question 4** Create a visualization of the trend of `mpg` over the years in the sample (1970-1982). .

**Question 5** Fuqua professors, Rick Larrick and Jack Soll found that **gallons per mile** per mile is far more informative for making car buying decisions than miles per gallon.  Create a visualization of the trend of gallons per mile over the years in the sample (1970-1982).

## 3. Functions and CEO Incomes

Let's start with a real data analysis task.  We'll look at the 2015 compensation of CEOs at the 100 largest companies in California.  The data were compiled for a Los Angeles Times analysis [here](http://spreadsheets.latimes.com/california-ceo-compensation/), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies.  Two companies have two CEOs, so there are 102 CEOs in the dataset.

We've copied the data in raw form from the LA Times page into a file called `raw_compensation.csv`.  (The page notes that all dollar amounts are in millions of dollars.)

In [2]:
raw_compensation = Table.read_table('raw_compensation.csv')
raw_compensation

**Question 1.** We want to compute the average of the CEOs' pay. Try running the cell below.

In [3]:
np.average(raw_compensation.column("Total Pay"))

You should see an error. Let's examine why this error occured by looking at the values in the "Total Pay" column. Use the `type` function and set `total_pay_type` to the type of the first value in the "Total Pay" column.

In [4]:
total_pay_type = ...
total_pay_type

In [5]:
_ = ok.grade('q5_1')

**Question 2.** You should have found that the values in "Total Pay" column are strings (text). It doesn't make sense to take the average of the text values, so we need to convert them to numbers if we want to do this. Extract the first value in the "Total Pay" column.  It's Mark Hurd's pay in 2015, in *millions* of dollars.  Call it `mark_hurd_pay_string`.

In [6]:
mark_hurd_pay_string = ...
mark_hurd_pay_string

In [7]:
_ = ok.grade('q5_2')

**Question 3.** Convert `mark_hurd_pay_string` to a number of *dollars*.  The string method `strip` will be useful for removing the dollar sign; it removes a specified character from the start or end of a string.  For example, the value of `"100%".strip("%")` is the string `"100"`.  You'll also need the function `float`, which converts a string that looks like a number to an actual number.  Last, remember that the answer should be in dollars, not millions of dollars.

In [8]:
mark_hurd_pay = ...
mark_hurd_pay

In [9]:
_ = ok.grade('q5_3')

To compute the average pay, we need to do this for every CEO.  But that looks like it would involve copying this code 102 times.

This is where functions come in.  First, we'll define a new function, giving a name to the expression that converts "total pay" strings to numeric values.  Later in this lab we'll see the payoff: we can call that function on every pay string in the dataset at once.

**Question 4.** Copy the expression you used to compute `mark_hurd_pay` as the `return` expression of the function below, but replace the specific `mark_hurd_pay_string` with the generic `pay_string` name specified in the first line of the `def` statement.

*Hint*: When dealing with functions, you should generally not be referencing any variable outside of the function. Usually, you want to be working with the arguments that are passed into it, such as `pay_string` for this function.

In [13]:
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100' (in millions) to a number of dollars."""
    return ...

In [15]:
_ = ok.grade('q5_4')

Running that cell doesn't convert any particular pay string. Instead, it creates a function called `convert_pay_string_to_number` that can convert any string with the right format to a number representing millions of dollars.

We can call our function just like we call the built-in functions we've seen. It takes one argument, a string, and it returns a number.

In [16]:
convert_pay_string_to_number('$42')

In [17]:
convert_pay_string_to_number(mark_hurd_pay_string)

In [18]:
# We can also compute Safra Catz's pay in the same way:
convert_pay_string_to_number(raw_compensation.where("Name", are.containing("Safra")).column("Total Pay").item(0))

So, what have we gained by defining the `convert_pay_string_to_number` function? 
Well, without it, we'd have to copy that `10**6 * float(pay_string.strip("$"))` stuff each time we wanted to convert a pay string.  Now we just call a function whose name says exactly what it's doing.

Soon, we'll see how to apply this function to every pay string in a single expression. First, let's take a brief detour and introduce `interact`.

### Using `interact`

We've included a nifty function called `interact` that allows you to
call a function with different arguments.

To use it, call `interact` with the function you want to interact with as the
first argument, then specify a default value for each argument of the original
function like so:

In [19]:
_ = interact(convert_pay_string_to_number, pay_string='$42')

You can now change the value in the textbox to automatically call
`convert_pay_string_to_number` with the argument you enter in the `pay_string`
textbox. For example, entering in `'$49'` in the textbox will display the result of
running `convert_pay_string_to_number('$49')`. Neat!

Note that we'll never ask you to write the `interact` function calls yourself as
part of a question. However, we'll include it here and there where it's helpful
and you'll probably find it useful to use yourself.

Now, let's continue on and write more functions.

## 4. Histograms
Earlier, we computed the average pay among the CEOs in our 102-CEO dataset.  The average doesn't tell us everything about the amounts CEOs are paid, though.  Maybe just a few CEOs make the bulk of the money, even among these 102.

We can use a *histogram* to display more information about a set of numbers.  The table method `hist` takes a single argument, the name of a column of numbers.  It produces a histogram of the numbers in that column.

**Question 1.** Make a histogram of the pay of the CEOs in `compensation`.

In [56]:
...

**Question 2.** Looking at the histogram, how many CEOs made more than \$30 million?  (Answer the question by filling in your answer manually.  You'll have to do a bit of arithmetic; feel free to use Python as a calculator.)

In [57]:
num_ceos_more_than_30_million = ...

**Question 3.** Answer the same question with code.  *Hint:* Use the table method `where` and the property `num_rows`.

In [58]:
num_ceos_more_than_30_million_2 = ...
num_ceos_more_than_30_million_2

In [59]:
_ = ok.grade('q6_3')

## 5. Summary
You're finished with lab 3!  Be sure to...
- **run all the tests** (the next cell has a shortcut for that), 
- **Save and Checkpoint** from the `File` menu,
- **run the last cell to submit your work as a group**,
- and ask Morgan to check you off.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [ ]:
_ = ok.submit()